<% layout('layouts/boilerplate') %>


<div class="row">
<div class="col offset">
<div class="card mb-3" ">
  <div class="card-body">
    <h5 class="card-title"> <%=poi.name%></h5>
    <h6 class="card-subtitle mb-2 text-muted"><%=poi.address%></h6>
    <p class="card-text">Επισκέψεις: <%=poi.rating_n%></p>
    <a class="card-link btn btn-primary" href="/pois/<%=poi._id%>/edit" class="card-link">Check In</a>
    <a class="card-link btn btn-secondary " href="/pois/" class="card-link">Back</a>
  </div>
</div>
</div>
</div>









